<h3>Call us on </h3>
<p>(+250) 788495907</p>

<h3>Whatsapp </h3>
<p>(+250) 788495907</p>

<h3>LinkedIn </h3>
<p>HPG</p>

<h3>Facebook</h3>
<p>Health Promotion Group</p>

<h3>Email</h3>
<p>cgabanya@gmail.com</p>

<h3>Website</h3>
<p>cgabanya@gmail.com</p>