<br><br><br><br>
<h3> Medical Discount </h3>
<p> Medicaldiscount ni service itangwa na HPG yo kuvuza abantu hakoreshejwe discount card</p>
<h3>Ni gute wabona iyi service?</h3>
<p>Gukoresha Medical Dicount service wishyura amafanga ibihumbi mirongo itatu kuri konti ya HPG ugahabwa ikarita</p>