<br><br><br><br>
<h3>HPG Iragufasha kubona moto yawe nshyashya nubwo nubwo waba udafute cash</h3>
<%= image_tag 'img4.jpeg' %>
<h1>IBISABWA KUGIRANGO UHABWE MOTO NA HPG</h1>
<p><ol>
<li>kuba uri inyangamugayo</li>
<li>kuba nta bank nimwe ufitiye ideni</li>
<li>kuba ufite ingwate (eg:inzu) yubatse mumujyi wa kigali</li>
</ol></p>