<h1>Products</h1>

<h2> Discount Card</h2>

<p>HPG is offering discount card for customers as the basic product of the company.</p>
<%= image_tag 'card.jpeg' %>
<p>Apart from discount card, HPG offers Service card for all of its employees</p>

<%= image_tag 'images.png' %>