<h1>Products we have for you</h1>


<h2> Discount Card</h2>

<p>HPG is offering discount card for customers as the basic product of the company.</p>
<%= image_tag 'card.jpeg', height: '500px'%>



<p>Apart from discount card, HPG offers Service card for all of its employees</p>
<h2> Service Card</h2>
<%= image_tag 'scard.jpg', height: '500px'  %>
