<div class = "services">
    <div class= "card bg-secondary">
    <h3> Medical Discount </h3>
    <p> Medicaldiscount ni service itangwa na HPG yo kuvuza abantu hakoreshejwe discount card</p>
    <h3>Ni gute wabona iyi service?</h3>
    <p>Gukoresha Medical Dicount service wishyura amafanga ibihumbi mirongo itatu kuri konti ya HPG ugahabwa ikarita</p>
    </div>
    <br>

    <div class = "card">
    <h3>HPG Iragufasha kubona moto yawe nshyashya nubwo waba udafute cash</h3>
    <div class = "row">
    <div class = "col-md-6 col-lg-4 col-xl-6">
    <%= image_tag 'img4.jpg', height: '500', width: '500' %>
    </div>
    <div class = "col-md-6 col-lg-4 col-xl-6">
    
    <h1>IBISABWA KUGIRANGO UHABWE MOTO NA HPG</h1>
    <p class= "motor-requirement"><ol>
    <li>kuba uri inyangamugayo</li>
    <li>kuba nta bank nimwe ufitiye ideni</li>
    <li>kuba ufite ingwate (eg:inzu) yubatse mumujyi wa kigali</li>
    </ol></p>
    </div>

    </div>
    </div>
    
   

    <br>
    <div class = "card" >
    
    <h1>Ukeneye Gutumiza ibicuruzwa hanze?</h1>
    <div class = "row">
    <div class = "col-md-6 col-lg-4 col-xl-6">
    <%= image_tag 'ship3.jpg', height: "300px", width: '400' %>
    </div>
    <div class = "col-md-6 col-lg-4 col-xl-6">
    <h1>Ni ibihe bicuruzwa watumiza?</h1>
    <p style = "background-color: white;">HPG iragufasha gutumiza kubicuruzwa byose bijyanye na electronic
     hanze mugihe gito kandi kugiciro cyiza cyane. Waba uri umucuruzi cyangwa umushoramari? HPG ni igisubizo!!</p><br>
    </div>
    </div>
    </div>



    <div class = "card">
    <h1>Ukeneye kugabanya/kongera ibiro byawe?</h1>
    <%= image_tag 'Tarrif-hpg.jpg', width: '80%' %>
    
    </div>
</div>
