<div class = "services">
    <div class= "card bg-secondary">
    <h3> Medical Discount </h3>
    <p> Medicaldiscount ni service itangwa na HPG yo kuvuza abantu hakoreshejwe discount card</p>
    <h3>Ni gute wabona iyi service?</h3>
    <p>Gukoresha Medical Dicount service wishyura amafanga ibihumbi mirongo itatu kuri konti ya HPG ugahabwa ikarita</p>
    </div>
    <br>

    <div class = "card">
    <h3>HPG Iragufasha kubona moto yawe nshyashya nubwo waba udafute cash</h3>
    <%= image_tag 'img4.jpeg' %>
    <h1>IBISABWA KUGIRANGO UHABWE MOTO NA HPG</h1>
    <p><ol>
    <li>kuba uri inyangamugayo</li>
    <li>kuba nta bank nimwe ufitiye ideni</li>
    <li>kuba ufite ingwate (eg:inzu) yubatse mumujyi wa kigali</li>
    </ol></p>
    </div>

    <br>
    <div class = "card" >
    <h1>Ukeneye Gutumiza ibicuruzwa hanze?</h1>
    <%= image_tag 'ship3.jpeg', height: "300px" %>

    </div>



    <div class = "card">
    <h1>Ukeneye kugabanya/kongera ibiro byawe?</h1>
    <%= image_tag 'Tarrif-hpg.jpg', width: '80%' %>
    
    </div>
</div>
