<h2>welcome to Health People Group</h2>
<p><div class="animation" >get you HPG discount card today</div></p>
<br>

<div class = "row">
    <div class="col-sm-6">
        <p><strong>HPG ni iki?HEALTH PEOPLE GROUP</strong> Ni company y'ubwishingizi bukoresha <strong>Discount card
        </strong>. Ikaba yarishyize hamwe niyindi company kugirango irusheho gutanga service nziza kandi zinoze kubanyarwanda</p>
        <p><strong>HPG IKORA ITE?</strong> iyo ushaka service za HPG ugura ikarita, <strong>discount card</strong>
        igura 30,000frws, ikavuza abantu bose bagukomokaho, Ni ukuvuga abana n'uwo mwashakanye.
        Utarashaka ashyiraho ababyeyi be cyangwa abana arera. Iyo card imara umwaka umwe, ukayikoresha mumavuriro,
        mashuri n'amaduka dukorana.</P>

        <p ><strong>NI AKAHE KAMARO KO GUKORESHA HPG CARD?</strong><br>
            Iyo uguze ikarita ya HPG uhabwa igabanyirizwa rya 40% kwamuganga, kwishuri ugahabwa igabanyirizwa kuri minerval
            , no kwisoko ugahahira kubiciro byo hasi kandi ugahabwa service nziza yihuse no kubiciro byo hasi cyane
            </p>
            <p>Kandi bituma umuryango wawe ubaho neza kuko muba mwabashije kuzigama amafaranga menshi, mugihe mukoresha HPG Medical Discount Card.
            Uko bakugabanyiriza uba uri kuzigama yamafaranga wari wishyura</p>
    </div>
    <div class = "col-sm-6">
        <%= image_tag 'card1.jpg', width:'100%' %>
    </div>
</div>
<br>

<div class = "row">
    <div class="col-sm-6">
        <p><strong>NI HEHE USHOBORA KUBONA SERVICES ZA HPG?</STRONG></br>
        Bamwe mubarwayi bivuza bakoresheje HPg Medical<br> discount card bishimira service bahabwa kwamugfanga<br>
        zitandukanye harimo na physiotherapy</P>
        <%= image_tag 'Apade.jpg', width:'100%' %>
    </div>
    <div class = "col-sm-6">
        <%= image_tag 'Services.jpg', width:'100%' %>
    </div>
</div><br><br><br><br>


</div>
<h1>HPG Parteners </h1>
<div class= "row bg-secondary">
    <div class = "col-sm-6">
        <h2>Partener</h2>
        <ul><li>Clinic Galien</li>
            <li>Baho international hospital</li>
            <li>HOREBU Clinic</li>
        </ul>
    </div>
    <div class = "col-sm-6">
        <h2>Location</h2>
        <ul><li>KIMIRONKO</li>
            <li>NYARUTARAMA</li>
            <li>REMERA:Gisimenti</li>
        </ul>
    </div>
</div>
